<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>

</head>
<body>

<div >
    <h2 th:text="${section.getTitle()}"></h2>
    <img th:src="${section.getSectionImage()}" alt=""/>
    <p th:text="${section.getDescription()}"></p>
<form th:action="@{'/section/'+${section.getId()}}" method="post">

    <label> Body<textarea name="body"></textarea></label>
    <div>
        <select name="anonymous">
            <option >True</option>
            <option >False</option>
        </select>
    </div>
    <input type="submit" value="Post"/>

</form>
</div>
<div>
    <div th:each="post:${posts}">
        <div th:if="${post.getAnonymous()=='True' }">
            <h2>Anonymous</h2>
            <img src="https://st3.depositphotos.com/4111759/13425/v/600/depositphotos_134255634-stock-illustration-avatar-icon-male-profile-gray.jpg" alt=""/>
        </div>
        <div th:if="${post.getAnonymous()=='False' }">
            <h2 th:text="${post.getApplicationUser().fullName}"/>
            <img th:src="${post.getApplicationUser().Image}" alt=""/> </div>
        <p th:text="${post.date}"/>
        <h3 th:text="${post.body}"/>
    </div>

</div>
</body>
</html>