body {
    background-color: rgba(191, 230, 248, 0.71);
    border-radius: 10px
}

.title {
    color: grey;
    font-size: 18px;
}
body > div.container.mt-5.d-flex.justify-content-center
{
    position: relative;
    top: 0px;
    width: 1000px;
    left: 315px;
}
body > div:nth-child(2)
{
    position: relative;
    left: 266px;
    width: 1000px;
}

.card-white  .card-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
    border: 1px solid #dddddd;
}
.card-white  .card-footer {
    background-color: #fff;
    border-color: #ddd;
}
.card-white .h5 {
    font-size:14px;
//font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.card-white .time {
    font-size:12px;
//font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.post .post-heading {
    height: 95px;
    padding: 20px 15px;
}
.post .post-heading .avatar {
    width: 60px;
    height: 60px;
    display: block;
    margin-right: 15px;
}
.post .post-heading .meta .title {
    margin-bottom: 0;
}
.post .post-heading .meta .title a {
    color: black;
}
.post .post-heading .meta .title a:hover {
    color: #aaaaaa;
}
.post .post-heading .meta .time {
    margin-top: 8px;
    color: #999;
}
.post .post-image .image {
    width: 100%;
    height: auto;
}
.post .post-description {
    padding: 15px;
}
.post .post-description p {
    font-size: 14px;
}
.post .post-description .stats {
    margin-top: 20px;
}
.post .post-description .stats .stat-item {
    display: inline-block;
    margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
    margin-right: 8px;
}
.post .post-footer {
    border-top: 1px solid #ddd;
    padding: 15px;
}
.post .post-footer .input-group-addon a {
    color: #454545;
}
.post .post-footer .comments-list {
    padding: 0;
    margin-top: 20px;
    list-style-type: none;
}
.post .post-footer .comments-list .comment {
    display: block;
    width: 100%;
    margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
    width: 35px;
    height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
    display: block;
    width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
    font-size: 14px;
    font-weight: bold;
    display: inline;
    margin-top: 0;
    margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
    font-size: 12px;
    color: #aaa;
    margin-top: 0;
    display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
    margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
    margin-left: 50px;
}
textarea{
    width: 550px;
    height: 103px;
}
body > div:nth-child(2)
{
    --mdb-blue: #0d6efd;
    --mdb-indigo: #6610f2;
    --mdb-purple: #6f42c1;
    --mdb-pink: #d63384;
    --mdb-red: #dc3545;
    --mdb-orange: #fd7e14;
    --mdb-yellow: #ffc107;
    --mdb-green: #198754;
    --mdb-teal: #20c997;
    --mdb-cyan: #0dcaf0;
    --mdb-gray: #757575;
    --mdb-gray-dark: #4f4f4f;
    --mdb-primary: #1266f1;
    --mdb-secondary: #b23cfd;
    --mdb-success: #00b74a;
    --mdb-info: #39c0ed;
    --mdb-warning: #ffa900;
    --mdb-danger: #f93154;
    --mdb-light: #fbfbfb;
    --mdb-dark: #262626;
    --mdb-white: #fff;
    --mdb-black: #000;
    --mdb-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --mdb-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --mdb-gradient: linear-gradient(180deg,hsla(0,0%,100%,0.15),hsla(0,0%,100%,0));
    --mdb-font-roboto: "Roboto",sans-serif;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
    position: relative;
    width: 1000px;
    margin-top: 20px;
    left: 0px;
}
body > div:nth-child(3)
{
    --mdb-blue: #0d6efd;
    --mdb-indigo: #6610f2;
    --mdb-purple: #6f42c1;
    --mdb-pink: #d63384;
    --mdb-red: #dc3545;
    --mdb-orange: #fd7e14;
    --mdb-yellow: #ffc107;
    --mdb-green: #198754;
    --mdb-teal: #20c997;
    --mdb-cyan: #0dcaf0;
    --mdb-gray: #757575;
    --mdb-gray-dark: #4f4f4f;
    --mdb-primary: #1266f1;
    --mdb-secondary: #b23cfd;
    --mdb-success: #00b74a;
    --mdb-info: #39c0ed;
    --mdb-warning: #ffa900;
    --mdb-danger: #f93154;
    --mdb-light: #fbfbfb;
    --mdb-dark: #262626;
    --mdb-white: #fff;
    --mdb-black: #000;
    --mdb-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --mdb-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --mdb-gradient: linear-gradient(180deg,hsla(0,0%,100%,0.15),hsla(0,0%,100%,0));
    --mdb-font-roboto: "Roboto",sans-serif;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    box-sizing: border-box;
    margin-left: 330px;
}
body > div:nth-child(2)
{
    --mdb-blue: #0d6efd;
    --mdb-indigo: #6610f2;
    --mdb-purple: #6f42c1;
    --mdb-pink: #d63384;
    --mdb-red: #dc3545;
    --mdb-orange: #fd7e14;
    --mdb-yellow: #ffc107;
    --mdb-green: #198754;
    --mdb-teal: #20c997;
    --mdb-cyan: #0dcaf0;
    --mdb-gray: #757575;
    --mdb-gray-dark: #4f4f4f;
    --mdb-primary: #1266f1;
    --mdb-secondary: #b23cfd;
    --mdb-success: #00b74a;
    --mdb-info: #39c0ed;
    --mdb-warning: #ffa900;
    --mdb-danger: #f93154;
    --mdb-light: #fbfbfb;
    --mdb-dark: #262626;
    --mdb-white: #fff;
    --mdb-black: #000;
    --mdb-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --mdb-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --mdb-gradient: linear-gradient(180deg,hsla(0,0%,100%,0.15),hsla(0,0%,100%,0));
    --mdb-font-roboto: "Roboto",sans-serif;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
    position: relative;
    left: 0px;
    margin-top: 20px;
    width: 1111px;
}
body > div:nth-child(2) > div
{
    --mdb-blue: #0d6efd;
    --mdb-indigo: #6610f2;
    --mdb-purple: #6f42c1;
    --mdb-pink: #d63384;
    --mdb-red: #dc3545;
    --mdb-orange: #fd7e14;
    --mdb-yellow: #ffc107;
    --mdb-green: #198754;
    --mdb-teal: #20c997;
    --mdb-cyan: #0dcaf0;
    --mdb-gray: #757575;
    --mdb-gray-dark: #4f4f4f;
    --mdb-primary: #1266f1;
    --mdb-secondary: #b23cfd;
    --mdb-success: #00b74a;
    --mdb-info: #39c0ed;
    --mdb-warning: #ffa900;
    --mdb-danger: #f93154;
    --mdb-light: #fbfbfb;
    --mdb-dark: #262626;
    --mdb-white: #fff;
    --mdb-black: #000;
    --mdb-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --mdb-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --mdb-gradient: linear-gradient(180deg,hsla(0,0%,100%,0.15),hsla(0,0%,100%,0));
    --mdb-font-roboto: "Roboto",sans-serif;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    box-sizing: border-box;
    --mdb-gutter-x: 1.5rem;
    --mdb-gutter-y: 0;
    margin-top: calc(var(--mdb-gutter-y)*-1);
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    width: 1367px;
}
body > div:nth-child(2) > div > div > div
{
    --mdb-blue: #0d6efd;
    --mdb-indigo: #6610f2;
    --mdb-purple: #6f42c1;
    --mdb-pink: #d63384;
    --mdb-red: #dc3545;
    --mdb-orange: #fd7e14;
    --mdb-yellow: #ffc107;
    --mdb-green: #198754;
    --mdb-teal: #20c997;
    --mdb-cyan: #0dcaf0;
    --mdb-gray: #757575;
    --mdb-gray-dark: #4f4f4f;
    --mdb-primary: #1266f1;
    --mdb-secondary: #b23cfd;
    --mdb-success: #00b74a;
    --mdb-info: #39c0ed;
    --mdb-warning: #ffa900;
    --mdb-danger: #f93154;
    --mdb-light: #fbfbfb;
    --mdb-dark: #262626;
    --mdb-white: #fff;
    --mdb-black: #000;
    --mdb-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --mdb-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --mdb-gradient: linear-gradient(180deg,hsla(0,0%,100%,0.15),hsla(0,0%,100%,0));
    --mdb-font-roboto: "Roboto",sans-serif;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    --mdb-gutter-x: 1.5rem;
    --mdb-gutter-y: 0;
    box-sizing: border-box;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.05);
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    left: 151px;
    margin-right: 149px;
}
body > div.container.mt-5.d-flex.justify-content-center > div
{
    --mdb-blue: #0d6efd;
    --mdb-indigo: #6610f2;
    --mdb-purple: #6f42c1;
    --mdb-pink: #d63384;
    --mdb-red: #dc3545;
    --mdb-orange: #fd7e14;
    --mdb-yellow: #ffc107;
    --mdb-green: #198754;
    --mdb-teal: #20c997;
    --mdb-cyan: #0dcaf0;
    --mdb-gray: #757575;
    --mdb-gray-dark: #4f4f4f;
    --mdb-primary: #1266f1;
    --mdb-secondary: #b23cfd;
    --mdb-success: #00b74a;
    --mdb-info: #39c0ed;
    --mdb-warning: #ffa900;
    --mdb-danger: #f93154;
    --mdb-light: #fbfbfb;
    --mdb-dark: #262626;
    --mdb-white: #fff;
    --mdb-black: #000;
    --mdb-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --mdb-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --mdb-gradient: linear-gradient(180deg,hsla(0,0%,100%,0.15),hsla(0,0%,100%,0));
    --mdb-font-roboto: "Roboto",sans-serif;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    box-sizing: border-box;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.05);
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 1rem!important;
    right: 332px;
}
body > div:nth-child(2)
{
    --mdb-blue: #0d6efd;
    --mdb-indigo: #6610f2;
    --mdb-purple: #6f42c1;
    --mdb-pink: #d63384;
    --mdb-red: #dc3545;
    --mdb-orange: #fd7e14;
    --mdb-yellow: #ffc107;
    --mdb-green: #198754;
    --mdb-teal: #20c997;
    --mdb-cyan: #0dcaf0;
    --mdb-gray: #757575;
    --mdb-gray-dark: #4f4f4f;
    --mdb-primary: #1266f1;
    --mdb-secondary: #b23cfd;
    --mdb-success: #00b74a;
    --mdb-info: #39c0ed;
    --mdb-warning: #ffa900;
    --mdb-danger: #f93154;
    --mdb-light: #fbfbfb;
    --mdb-dark: #262626;
    --mdb-white: #fff;
    --mdb-black: #000;
    --mdb-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --mdb-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --mdb-gradient: linear-gradient(180deg,hsla(0,0%,100%,0.15),hsla(0,0%,100%,0));
    --mdb-font-roboto: "Roboto",sans-serif;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    max-width: 1140px;
    position: relative;
    left: 0px;
    width: 1111px;
    margin-top: 20px;
    right: 31px;
    margin-left: 181px;
}

body > div.container.mt-5.d-flex.justify-content-center
{
    --mdb-blue: #0d6efd;
    --mdb-indigo: #6610f2;
    --mdb-purple: #6f42c1;
    --mdb-pink: #d63384;
    --mdb-red: #dc3545;
    --mdb-orange: #fd7e14;
    --mdb-yellow: #ffc107;
    --mdb-green: #198754;
    --mdb-teal: #20c997;
    --mdb-cyan: #0dcaf0;
    --mdb-gray: #757575;
    --mdb-gray-dark: #4f4f4f;
    --mdb-primary: #1266f1;
    --mdb-secondary: #b23cfd;
    --mdb-success: #00b74a;
    --mdb-info: #39c0ed;
    --mdb-warning: #ffa900;
    --mdb-danger: #f93154;
    --mdb-light: #fbfbfb;
    --mdb-dark: #262626;
    --mdb-white: #fff;
    --mdb-black: #000;
    --mdb-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --mdb-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --mdb-gradient: linear-gradient(180deg,hsla(0,0%,100%,0.15),hsla(0,0%,100%,0));
    --mdb-font-roboto: "Roboto",sans-serif;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1140px;
    display: flex!important;
    -webkit-box-pack: center!important;
    justify-content: center!important;
    margin-top: 3rem!important;
    position: relative;
    top: 0px;
    width: 830px;
    margin-right: 0px;
    margin-left: 0px;
    left: 748px;
}
body > div.container.mt-5.d-flex.justify-content-center
{
    --mdb-blue: #0d6efd;
    --mdb-indigo: #6610f2;
    --mdb-purple: #6f42c1;
    --mdb-pink: #d63384;
    --mdb-red: #dc3545;
    --mdb-orange: #fd7e14;
    --mdb-yellow: #ffc107;
    --mdb-green: #198754;
    --mdb-teal: #20c997;
    --mdb-cyan: #0dcaf0;
    --mdb-gray: #757575;
    --mdb-gray-dark: #4f4f4f;
    --mdb-primary: #1266f1;
    --mdb-secondary: #b23cfd;
    --mdb-success: #00b74a;
    --mdb-info: #39c0ed;
    --mdb-warning: #ffa900;
    --mdb-danger: #f93154;
    --mdb-light: #fbfbfb;
    --mdb-dark: #262626;
    --mdb-white: #fff;
    --mdb-black: #000;
    --mdb-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --mdb-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --mdb-gradient: linear-gradient(180deg,hsla(0,0%,100%,0.15),hsla(0,0%,100%,0));
    --mdb-font-roboto: "Roboto",sans-serif;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1140px;
    display: flex!important;
    -webkit-box-pack: center!important;
    justify-content: center!important;
    margin-top: 3rem!important;
    position: relative;
    top: 0px;
    left: 315px;
    width: 830px;
    margin-right: 0px;
    margin-left: 0px;
}
body > div.container.mt-5.d-flex.justify-content-center > div
{
    --mdb-blue: #0d6efd;
    --mdb-indigo: #6610f2;
    --mdb-purple: #6f42c1;
    --mdb-pink: #d63384;
    --mdb-red: #dc3545;
    --mdb-orange: #fd7e14;
    --mdb-yellow: #ffc107;
    --mdb-green: #198754;
    --mdb-teal: #20c997;
    --mdb-cyan: #0dcaf0;
    --mdb-gray: #757575;
    --mdb-gray-dark: #4f4f4f;
    --mdb-primary: #1266f1;
    --mdb-secondary: #b23cfd;
    --mdb-success: #00b74a;
    --mdb-info: #39c0ed;
    --mdb-warning: #ffa900;
    --mdb-danger: #f93154;
    --mdb-light: #fbfbfb;
    --mdb-dark: #262626;
    --mdb-white: #fff;
    --mdb-black: #000;
    --mdb-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --mdb-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --mdb-gradient: linear-gradient(180deg,hsla(0,0%,100%,0.15),hsla(0,0%,100%,0));
    --mdb-font-roboto: "Roboto",sans-serif;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    box-sizing: border-box;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.05);
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 1rem!important;
    width: 734px;
    /*right: 167px;*/
    position: relative;
    top: 0px;
    left: 170px;
    width: 830px;
    margin-right: 0px;
    margin-left: 0px;
}
body > div.container.mt-5.d-flex.justify-content-center > div
{
    right: 332px;
    --mdb-blue: #0d6efd;
    --mdb-indigo: #6610f2;
    --mdb-purple: #6f42c1;
    --mdb-pink: #d63384;
    --mdb-red: #dc3545;
    --mdb-orange: #fd7e14;
    --mdb-yellow: #ffc107;
    --mdb-green: #198754;
    --mdb-teal: #20c997;
    --mdb-cyan: #0dcaf0;
    --mdb-gray: #757575;
    --mdb-gray-dark: #4f4f4f;
    --mdb-primary: #1266f1;
    --mdb-secondary: #b23cfd;
    --mdb-success: #00b74a;
    --mdb-info: #39c0ed;
    --mdb-warning: #ffa900;
    --mdb-danger: #f93154;
    --mdb-light: #fbfbfb;
    --mdb-dark: #262626;
    --mdb-white: #fff;
    --mdb-black: #000;
    --mdb-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --mdb-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --mdb-gradient: linear-gradient(180deg,hsla(0,0%,100%,0.15),hsla(0,0%,100%,0));
    --mdb-font-roboto: "Roboto",sans-serif;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    box-sizing: border-box;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.05);
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 1rem!important;
    position: relative;
    top: 0px;
    width: 830px;
    margin-right: 0px;
    left: 0px;
    margin-left: 0px;
}
body > div.container.mt-5.d-flex.justify-content-center
{
    --mdb-blue: #0d6efd;
    --mdb-indigo: #6610f2;
    --mdb-purple: #6f42c1;
    --mdb-pink: #d63384;
    --mdb-red: #dc3545;
    --mdb-orange: #fd7e14;
    --mdb-yellow: #ffc107;
    --mdb-green: #198754;
    --mdb-teal: #20c997;
    --mdb-cyan: #0dcaf0;
    --mdb-gray: #757575;
    --mdb-gray-dark: #4f4f4f;
    --mdb-primary: #1266f1;
    --mdb-secondary: #b23cfd;
    --mdb-success: #00b74a;
    --mdb-info: #39c0ed;
    --mdb-warning: #ffa900;
    --mdb-danger: #f93154;
    --mdb-light: #fbfbfb;
    --mdb-dark: #262626;
    --mdb-white: #fff;
    --mdb-black: #000;
    --mdb-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --mdb-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --mdb-gradient: linear-gradient(180deg,hsla(0,0%,100%,0.15),hsla(0,0%,100%,0));
    --mdb-font-roboto: "Roboto",sans-serif;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1140px;
    display: flex!important;
    -webkit-box-pack: center!important;
    justify-content: center!important;
    margin-top: 3rem!important;
    position: relative;
    top: 0px;
    left: 315px;
    margin-right: 0px;
    margin-left: 0px;
    width: 2000px;
}
body > div.container.mt-5.d-flex.justify-content-center > div
{
    --mdb-blue: #0d6efd;
    --mdb-indigo: #6610f2;
    --mdb-purple: #6f42c1;
    --mdb-pink: #d63384;
    --mdb-red: #dc3545;
    --mdb-orange: #fd7e14;
    --mdb-yellow: #ffc107;
    --mdb-green: #198754;
    --mdb-teal: #20c997;
    --mdb-cyan: #0dcaf0;
    --mdb-gray: #757575;
    --mdb-gray-dark: #4f4f4f;
    --mdb-primary: #1266f1;
    --mdb-secondary: #b23cfd;
    --mdb-success: #00b74a;
    --mdb-info: #39c0ed;
    --mdb-warning: #ffa900;
    --mdb-danger: #f93154;
    --mdb-light: #fbfbfb;
    --mdb-dark: #262626;
    --mdb-white: #fff;
    --mdb-black: #000;
    --mdb-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --mdb-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --mdb-gradient: linear-gradient(180deg,hsla(0,0%,100%,0.15),hsla(0,0%,100%,0));
    --mdb-font-roboto: "Roboto",sans-serif;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    box-sizing: border-box;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.05);
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 1rem!important;
    position: relative;
    top: 0px;
    left: 0px;
    right: 352px;
    margin-left: 0px;
    margin-right: 108px;
    width: 2034px;
}
body > div.container.mt-5.d-flex.justify-content-center > div > div
{
    --mdb-blue: #0d6efd;
    --mdb-indigo: #6610f2;
    --mdb-purple: #6f42c1;
    --mdb-pink: #d63384;
    --mdb-red: #dc3545;
    --mdb-orange: #fd7e14;
    --mdb-yellow: #ffc107;
    --mdb-green: #198754;
    --mdb-teal: #20c997;
    --mdb-cyan: #0dcaf0;
    --mdb-gray: #757575;
    --mdb-gray-dark: #4f4f4f;
    --mdb-primary: #1266f1;
    --mdb-secondary: #b23cfd;
    --mdb-success: #00b74a;
    --mdb-info: #39c0ed;
    --mdb-warning: #ffa900;
    --mdb-danger: #f93154;
    --mdb-light: #fbfbfb;
    --mdb-dark: #262626;
    --mdb-white: #fff;
    --mdb-black: #000;
    --mdb-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --mdb-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --mdb-gradient: linear-gradient(180deg,hsla(0,0%,100%,0.15),hsla(0,0%,100%,0));
    --mdb-font-roboto: "Roboto",sans-serif;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    -webkit-box-direction: normal;
    word-wrap: break-word;
    box-sizing: border-box;
    display: flex!important;
    -webkit-box-align: center!important;
    align-items: center!important;
}